@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}
<body class="bg-img">
    <form method="post" class="form-group">
        <div class="text-center">
            <h1 class="display-4">Welcome to The Bookstore</h1>
            <p>Find your next favorite book today</p>
        </div>
        <div class="main">
            <h3>Bestsellers</h3>
            <div class="container-xl p-2 my-5 border bg-light">
                <div class="row m-2">
                    @for (int i = 0; i < 4; i++)
                    {
                        <div class="col-3 text-center">
                            <img src=@Model.Books[i].PictureURL width="230" height="350">
                            <p></p>
                            <h5>@Model.Books[i].Title</h5>
                            <p>Author: @Model.Books[i].AuthorName</p>
                            <p>Price: @Model.Books[i].Price.ToString("c")</p>
                        </div>
                    }
                    <div class="col-12 text-center">
                        <button id="btnView" class="btn btn-primary">View All Books</button>
                    </div>
                </div>
            </div>
            <h3>Bookstore</h3>
            <div class="container-xl p-2 my-5 border bg-light">
                <div class="row m-2">
                    @for (int i = 4; i < Model.Books.Count; i++)
                    {
                        <div class="col-3 text-center">
                            <img src=@Model.Books[i].PictureURL width="230" height="350">
                            <p></p>
                            <h5>@Model.Books[i].Title</h5>
                            <p>Author: @Model.Books[i].AuthorName</p>
                            <p>Price: @Model.Books[i].Price.ToString("c")</p>
                        </div>
                    }
                    <div class="col-12 text-center">
                        <button id="btnView" class="btn btn-primary">View All Books</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>